@import 'mixin';
@import 'variable';

section.banner{
    @include df(row);
    @include cnt(space-between , flex-start);
    flex: 1 0 auto;
    background-color: $color-primary;
    padding: $size / 50;
    .img__wrap{
        width: $size / 3;
        .banner__img{
            width: $size;
            height: $size;
        }
    }
    .text__wrap{
        width: $size / 2;
        .heading{
            font-size: 3rem;
            color: $text-color-primary;
        }
        .banner__text{
            margin-top: $size / 50;
            font-size: 1.5rem;
            color: $text-color-primary;
        }
    }
}