@import 'mixin';
@import 'variable';

header.header{
    width: $size;
    @include df(row);
    @include cnt(space-around , flex-start);
    background-color: $color-secondary;
    flex: 0 0 auto;
    .logo__wrap{
        width: $size / 6;
        .logo{
            width: $size;
            height: $size;
        }
    }
    .nav__wrap{
        width: $size / 2.5;
        .nav{
            @include df(row);
            @include cnt(space-around , center);
            margin: $size / 100;
            .nav__item{
                .nav__link{
                    &:link,
                    &:visited,
                    &:active,
                    &:hover{
                        @include link($text-color-secondary , 1.2rem);
                    }
                }
            }
        }
    }
}