@mixin df($df) {
    display: flex;
    flex-direction: $df;
}

@mixin cnt($js , $ai) {
    justify-content: $js;
    align-items: $ai;
}

 @mixin link($color , $font) {
    text-decoration: none;
    color: $color;
    font-size: $font;
}

@mixin mg($params){
    margin: $params
}
