/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,600;1,400;1,600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
code,
del,
dfn,
em,
img,
ins,
kbd,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-size: 1rem;
  line-height: 1;
  height: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Alegreya";
}

body .wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1a031c;
}

.form__block {
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: none;
  margin: 2%;
}

header.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #f9AA33;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

header.header .logo__wrap {
  width: 16.66667%;
}

header.header .logo__wrap .logo {
  width: 100%;
  height: 100%;
}

header.header .nav__wrap {
  width: 50%;
}

header.header .nav__wrap .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1%;
}

header.header .nav__wrap .nav .nav__item .nav__link:link, header.header .nav__wrap .nav .nav__item .nav__link:visited, header.header .nav__wrap .nav .nav__item .nav__link:active, header.header .nav__wrap .nav .nav__item .nav__link:hover {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
}

section.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #1a031c;
  padding: 2%;
}

section.banner .img__wrap {
  width: 33.33333%;
}

section.banner .img__wrap .banner__img {
  width: 100%;
  height: 100%;
}

section.banner .text__wrap {
  width: 50%;
}

section.banner .text__wrap .heading {
  font-size: 3rem;
  color: #fff;
}

section.banner .text__wrap .banner__text {
  margin-top: 2%;
  font-size: 1.5rem;
  color: #fff;
}

main.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 2%;
}

main.main .main__heading {
  font-size: 3rem;
  margin: 1%;
  text-align: center;
  color: #fff;
}

main.main .main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main.main .main__wrap .main__item {
  width: 28.57143%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #fff;
  border-radius: 20px;
  margin: 2% 0;
  padding: 1%;
  background-color: #f9AA33;
}

main.main .main__wrap .main__item .img__wrap {
  width: 100%;
}

main.main .main__wrap .main__item .img__wrap .item__img {
  width: 100%;
  height: 100%;
}

main.main .main__wrap .main__item .text__wrap {
  width: 100%;
}

main.main .main__wrap .main__item .text__wrap .item__heading {
  color: #000;
  font-size: 2rem;
}

main.main .main__wrap .main__item .text__wrap .item__link {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

main.main .main__wrap .main__item .text__wrap .item__link:hover {
  color: grey;
}

.wrapper.wrapper--register {
  background-color: #1a031c;
}

.wrapper.wrapper--register main.main--register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.wrapper.wrapper--register main.main--register .main__form {
  width: 83.33333%;
}

.wrapper.wrapper--register main.main--register .main__form .form__wrap {
  background-color: #fff;
  width: 33.33333%;
  margin: 0 auto;
  padding: 2%;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper.wrapper--register main.main--register .main__form .form__wrap .form__block:active, .wrapper.wrapper--register main.main--register .main__form .form__wrap .form__block:focus {
  outline: none;
}

.wrapper.wrapper--register main.main--register .main__form .form__wrap .form__submit {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #4285f4;
  margin: 2%;
}

.wrapper.wrapper--register main.main--register .main__form .form__wrap .form__submit:hover {
  -webkit-box-shadow: 0 3px 4px 0 #1669F2;
          box-shadow: 0 3px 4px 0 #1669F2;
}

.wrapper.wrapper--register main.main--register .main__form .form__wrap--login {
  padding: 5% 2%;
}

.section .section__item .section__item__text, .section .section__item .section__item__image .img .picture, .section .section__main .sectiom__main__item {
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 5%;
}

.section .section__item .section__item__text, .section .section__item .section__item__image .img .picture, .section .section__main .sectiom__main__item, .section .section__item .section__text, .section .section__item .section__image .img, .section .section .sectiom__main {
  -webkit-box-shadow: 4px 5px 73px 2px rgba(249, 170, 51, 0.29);
  box-shadow: 4px 5px 73px 2px rgba(249, 170, 51, 0.29);
}

.section {
  background-color: #1a031c;
}

.section .section__item {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.section .section__item .section__item__text {
  width: 65%;
  height: auto;
  margin-top: 3%;
  padding: 1%;
  border-radius: 15px;
  background-color: rgba(249, 170, 51, 0.4);
}

.section .section__item .section__item__text .item__heading {
  font-size: 3rem;
}

.section .section__item .section__item__text .title {
  margin-top: 2%;
  font-size: 1.2rem;
}

.section .section__item .section__item__image {
  margin-top: 2%;
  width: 60%;
}

.section .section__item .section__item__image .img .picture {
  width: 77%;
  border-radius: 15px;
}

.section .section__item .section__item__image .img .pic {
  display: none;
}

.section .section__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
}

.section .section__main .sectiom__main__item {
  text-align: center;
  width: 33%;
  border-radius: 50px;
  background-color: rgba(249, 170, 51, 0.4);
}

.section .section__main .sectiom__main__item .sectiom__icon {
  padding: 4%;
}

.section .section__main .sectiom__main__item .sectiom__icon .icon {
  width: 30%;
  height: 30%;
}

.section .section__main .sectiom__main__item .sectiom__main__text {
  color: white;
  padding: 2%;
  font-size: 0.8rem;
}

.section .section__main .sectiom__main__item .sectiom__main__text .text__heading {
  font-size: 1.2rem;
  margin: 3%;
}

.section .section__item .section__item__text, .section .section__item .section__item__image .img .picture, .section .section__main .sectiom__main__item, .section .section__item .section__text, .section .section__item .section__image .img, .section .section .sectiom__main {
  -webkit-box-shadow: 4px 5px 73px 2px rgba(249, 170, 51, 0.29);
  box-shadow: 4px 5px 73px 2px rgba(249, 170, 51, 0.29);
}

.section {
  background-color: #1a031c;
}

.section .section__item {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.section .section__item .section__text {
  margin: 2%;
  width: 65%;
  margin: 3%;
  padding: 1%;
  background-color: #764825;
}

.section .section__item .section__text .heading {
  font-size: 3rem;
}

.section .section__item .section__text .text {
  margin-top: 2%;
  font-size: 1.2rem;
  text-align: justify;
  text-indent: 1%;
}

.section .section__item .section__image {
  margin: 3% 0 3% 3%;
}

.section .section__item .section__image .img {
  width: 100%;
  margin: 0;
  height: 100%;
  margin: 2%;
}

.section .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .section .sectiom__main {
  margin: 2%;
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 2% 1%;
  width: 27%;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
}

.section .section .sectiom__main .sectiom__icon {
  padding: 4%;
}

.section .section .sectiom__main .sectiom__text {
  color: white;
}

.section .section .sectiom__main .sectiom__text .section__text-number {
  padding: 2%;
  font-size: 1.5rem;
}

.section .section .sectiom__main .sectiom__text .section__text-word {
  font-size: 1.5rem;
  margin: 3%;
}

.section .section .sectiom__main__left {
  margin-right: 3%;
}

.section .section .sectiom__main__left::before {
  content: "";
  background-color: #764825;
  position: absolute;
  z-index: -1;
  left: 30px;
  -webkit-transform: matrix(1, 0, 0.265, 1, -33, 0);
          transform: matrix(1, 0, 0.265, 1, -33, 0);
  height: 100%;
  width: calc(100% + 6px);
}

.section .section .sectiom__main__center::before {
  content: "";
  background-color: #764825;
  position: absolute;
  z-index: -1;
  height: calc(100% + 6px);
  width: 100%;
  -webkit-transform: matrix(1, 0, 0.265, 1, -30, 0);
          transform: matrix(1, 0, 0.265, 1, -30, 0);
}

.section .section .sectiom__main__center::after {
  content: "";
  background-color: #764825;
  position: absolute;
  z-index: -1;
  height: calc(100% + 6px);
  width: 100%;
  -webkit-transform: matrix(1, 0, -0.265, 1, 30, 0);
          transform: matrix(1, 0, -0.265, 1, 30, 0);
}

.section .section .sectiom__main__right {
  margin-left: 3%;
}

.section .section .sectiom__main__right::before {
  content: "";
  background-color: #764825;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 30px;
  -webkit-transform: matrix(1, 0, -0.265, 1, 33, 0);
          transform: matrix(1, 0, -0.265, 1, 33, 0);
  height: 100%;
  width: calc(100% + 6px);
}

footer.footer {
  width: 100%;
  background-color: #f9AA33;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

footer.footer .footer__wrap {
  width: 71.42857%;
  margin: 0 auto;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer.footer .footer__wrap .footer__item {
  width: 30.30303%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer.footer .footer__wrap .footer__item .footer__heading {
  font-weight: bold;
  font-size: 0.9rem;
}

footer.footer .footer__wrap .footer__item .footer__text {
  font-size: 0.7rem;
}

footer.footer .footer__wrap .footer__item .footer__link {
  width: 50%;
}

footer.footer .footer__wrap .footer__item--last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=style.css.map */